@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//## Colors

$Tomato: hsl(4, 100%, 67%);
$Dark_Slate_Grey: hsl(234, 29%, 20%);
$Charcoal_Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

//## Typography
$Roboto: 'Roboto', sans-serif;
//### Body Copy

$Font_size_paragraph: 16px;
$h1_mainSession: 3.5rem;
